
/* ExtraTender styling */

.discussion-item:focus {
	background-color: rgba(0,111,187,0.1);
}

#extratender-discussion {
	display: block;
	clear: both;
	width: 100%;
}

#extratender-discussion .extratender-comments {
	margin: 0.5em 0 0 0;
}

#extratender-discussion .extratender-comment {
	margin: 0;
}

#extratender-discussion .extratender-comments, #extratender-discussion .extratender-comment {
	padding: 0;
	list-style-type: none;
}

#extratender-discussion .meta {
	margin: 0 0 10px 0;
	padding: 5px;
	background-color: #006fbb;
	color: #fff;
}

#extratender-discussion .number {
	font-weight: bold;
	margin-right: 0.25em;
}

#extratender-discussion .hide, #extratender-notify .hide {
	display: none;
}

#extratender-discussion label {
	float: left; 
}

#extratender-discussion iframe {
	width: 100%;
	height: 640px;
}

#extratender-notify > h4 {
    opacity: 0;  /* make things invisible upon start */
}

#extratender-notify .alert {
    opacity: 0;  /* make things invisible upon start */
    -webkit-animation: fadeIn 4s linear alternate;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */

    -webkit-animation-duration: 4s;
}

@-webkit-keyframes fadeIn { 
	0% { opacity:0; }
	20% { opacity: 1; } 
	80% { opacity: 1; }
	100% { opacity:0; }
}

#extratender-notify #extratender-success {
	background-color: #FDFFB6;
}

#extratender-notify #extratender-error {
	background-color: #FFA6AE;
}

#extratender-discussion #extratender-text {
	min-height: 30px;
	max-height: 400px;
	overflow: auto;
}

#extratender-discussion #extratender-category-container, #extratender-discussion #extratender-user-container {
	float: right;
}

#extratender-discussion .warning {
	color: red;
}

#extratender-discussion .extratender-actionbar {
	width: 100%;
	text-align: right;
}

#extratender-discussion #extratender-user-discussion-count {
	float: left;
	margin-top: 0.5em;
}

.extratender-discussion-list {
	margin: 0.5em 0 0 0;
	padding: 0 0.5em 0 0.5em;
	background-color: #eeeeee;
}

.extratender-discussion-list li {
	width: 100%;
	text-align: center;
	list-style-type: none;
	padding: 0.25em 0 0.25em 0;
	margin: 0;
	border-bottom: solid 1px #e6e6e6;
}

.extratender-discussion-list li > * {
	display: inline-block;
}

.extratender-discussion-list li > a {
	text-align: left;
	width: 60%;
}

.extratender-discussion-list li > span {
	width: 10%;
}

.extratender-discussion-list li > span:last-child {
	text-align: right;
	width: 20%;
	word-break: keep-all;
}

.extratender-discussion-list li:last-child {
	border-bottom: 0;
}

#extratender-discussion textarea {
	display: block;
	clear: both;
	width: 100%;
	height: 8em;
	padding: 0.5em;
}

#extratender-discussion hr {
	border: 0;
	background-color: #DBDADA;
	height: 1px;
}

/* via http://www.sitepoint.com/css3-ajax-loading-icon/ */

#extratender-discussion .ajaxloader, #extratender-discussion .loader {
	display: none;
	margin-right: 0.25em;
	margin-bottom: -4px;
	width: 10px;
	height: 10px;
	border: 3px solid #6F6E6E;
	border-right-color: transparent;
	border-radius: 50%;
}

#extratender-discussion .ajaxloader, #extratender-discussion .loader {
	-webkit-animation: spin 1s linear infinite;
	animation: spin 1s linear infinite;
}

@keyframes spin {
	from { transform: rotate( 0deg );   opacity: 0.2; }
	50%  { transform: rotate( 180deg ); opacity: 1.0; }
	to   { transform: rotate( 360deg ); opacity: 0.2; }
}

/* prefix hell */
@-webkit-keyframes spin {
	from { -webkit-transform: rotate( 0deg );   opacity: 0.2; }
	50%  { -webkit-transform: rotate( 180deg ); opacity: 1.0; }
	to   { -webkit-transform: rotate( 360deg ); opacity: 0.2; }
}